/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


===============================================================================================================================================================================


body {
	
	height: 100%;
	width: 100%;
}
.container {
	width: 100%;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;

}

.header {

	background-color: #2175B9;
	width: 100%;
	height: 10%;
}

.connect{
	float: right;
	width: 100%;
	margin: 0%;
	padding: 0%;
	height: 100%;
	text-align: center;
}

.connect p{

	padding: .5em;
	background-color: #E0ECBE;
	border-radius: 1.5em;
	font-size: 1.5em;
	width: 25%;
	margin: auto;
}

.connect img{
    margin-top: 5%;
    margin-bottom: 2%;
	width: 25%;
	cursor: pointer;
}


.logo{

	float: left;
	width: 50%;
	height: 80%;
}

.logo img{
	width: 40%;
	height: 100%;
}



.footer, .footer2{
	background-color: #2175B9;
	width: 100%;
	text-align: center;

}


.footer p, .footer2 p {
	padding-top: 1%;
	text-align: center;
	color: white;
	font-size: 1em;
}

.footer, .push, .footer2 {
height: 4em;
}

.fcountry, .fcity{
	margin: 0%;
	padding: 0%;
}


.dashboard-container{

	width: 100%;
	height: 90%;
	padding: 0%;

}

.dashboardInfo{

	width: 50%;
	height: 90%;
	float: right;
	margin: 0%;
	background-color: #B97D21;

}

.dashboardInfo p {
	margin-top: 8%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: #E0ECBE;

}


.dashboardProfile{
	margin: 0%;
	width: 50%;
	height: 90%;
	float: left;
	background-color: #E0ECBE;
}

.dashboardConnect{
	margin: 0%;
	width: 100%;
	height: 90%;
	background-color: black;
	text-align: center;

}


.indicator {
	background-color: white;
	width: 20%;
	height: 6%;
	margin: auto;
	text-align: center;
}

.userpic{
	vertical-align: center;
	margin: auto;
	width: 100%;
}

.userpic img{
width: 25%;
border-radius: 50%;
margin-top: 8%;
margin-bottom: 5%;
display: block;
    margin-left: auto;
    margin-right: auto;
}

.username, .homecity, .badges{
	text-align: center;
	color: #2175B9;
	margin-bottom: .5em;
	font-size: 1.5em;
	font-weight: bold;
}
.checkin p, .country p, .city p{

	display: block;
    padding-top: .5em;
    font-size: 1em;
    color: #2175B9;

}
